@{
    ViewData["Title"] = "Redirect Page";
}
<h1>@ViewData["Title"]</h1>

<p>Click on that button to logout.</p>
<a class="btn btn-primary" role="button" asp-controller="Home" asp-action="">
    Logout
</a>